.product-page {
  padding: 70px 20px;
  background: #000;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.product-title {
  font-size: 44px;
  font-weight: 600;
  background: linear-gradient(to right, #fff, #969696);
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-card {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  backdrop-filter: blur(10px);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.product-card:hover {
  transform: translateY(-6px);
  background: rgba(255,255,255,0.15);
}

.buy-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.buy-btn:hover {
  background: #d4d4d4;
}
